.settings-menu-label {
  font-size: 1rem;
  color: var(--text-secondary);
  flex-shrink: 0;
  margin-right: 10px;
}

.focusable-row.focused .settings-menu-label {
  color: var(--text-primary);
}

.settings-menu-value {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-primary);
}

.settings-menu-value.generic {
  font-weight: normal;
  color: var(--text-secondary);
  font-style: italic;
}

.unsupported-option {
  opacity: 0.5;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 4px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 2px;
}

input[type="color"] {
  flex: 0 0 auto;   /* IMPORTANT */

  -webkit-appearance: none;
  appearance: none;

  width: 84px !important;
  height: 28px !important;

  padding: 0 !important;
  margin: 0 !important;

  border-radius: 4px;

  border: 1px solid var(--secondary-background) !important;
  background: transparent;
  cursor: pointer;
}